# Analysis Dependencies
scipy>=1.7.0
statsmodels>=0.13.0
ta>=0.9.0
ta-lib>=0.4.0
pandas-ta>=0.4.67b0  # Using beta version as stable 0.3.0+ not available
holidays>=0.13
pandas_market_calendars>=1.6.0
yfinance>=0.1.70
alpha_vantage>=2.3.0

# Institutional Portfolio Analytics
pyfolio-reloaded>=0.9.5
empyrical-reloaded>=0.5.7
riskfolio-lib>=6.0.0
